h1 {
  background-color: red;
  padding: 2rem;
  border-radius: 10px;
}
ol {
  background-color: rebeccapurple;
  color: white;
}
ul {
  background-color: crimson;
  list-style: none;
  padding: 2rem;
}
p {
  background-color: black;
  color: white;
  margin: 2rem 4rem;
  padding: 2rem 5rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 800rem;
  opacity: 0.5;
}